.layout {
    display: flex;
    min-height: 100dvh;
    margin-top: calc(-1 * var(--titlebar-height));
}

.sidebar {
    width: 40vw;
    background: url("/plane.png") center / cover no-repeat;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--inline-space) * 2);
}
