@import "./colors.css";
@import "./base.css";
@import "./utilities.css";

@font-face {
    font-family: "Fredoka";
    font-style: normal;
    font-weight: 300 700;
    font-stretch: 75% 125%;

    src:
        local(""),
        url("./fonts/FredokaVar.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 100%;
    src:
        local(""),
        url("./fonts/RobotoVar.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    /* TODO: other oses support :sob: */
    margin-top: var(--titlebar-height);
}
